FLASK_SECRET_KEY=change_me
ADMIN_PASSWORD=change_me

# Google
N8N_WEBHOOK_URL=your_n8n_webhook_url_here

# Email
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=hello@jo4dev.co.za
MAIL_PASSWORD=your_app_password_here
MAIL_DEFAULT_SENDER=hello@jo4dev.co.za
ADMIN_EMAIL=admin@jo4dev.co.za

# Site
BASE_URL=https://onboard.jo4dev.co.za
COMPANY_NAME=JO4 Dev

# Cloudflare Tunnel
CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token_here
